{% extends 'base.html' %}

{% load static %}
{% block header %}
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            {#            <img src="https://github.com/blastxiaol/ResearchStory/blob/front-end/static/image/meeting.png?raw=true" width="200" height="100" alt="" loading="lazy">#}
            <h2>Meeting To Discuss</h2>
        </a>
        <span>
{#                    <a href="/"><button type="button" class="btn btn-info">xxxxx</button></a>#}
            <a href="{% url "meeting:new_meeting" %}"><button type="button" class="btn btn-dark">Add A New
                            Meeting</button></a>
        </span>
    </nav>

{% endblock header %}


{% block content %}
    <div style="text-align: center;">
        <h2>Current Meetings:</h2>
        <h7>{{ date_and_time }}</h7>
    </div>
    <hr/>

    {% for meeting in current_meetings %}
        <hr/>
        <li>
            <div class="jumbotron">
                <div style="text-align: center;">
                    <h2><i><b>{{ meeting.meeting_name }}</b></i></h2>
                    <h3>Start Time: {{ meeting.start_time }}</h3>
                    <h3>End Time: {{ meeting.end_time }}</h3>
                    <h6>Organizer: {{ meeting.user }}</h6>
                </div>
                <div style="text-align: center;">
                    <a href="{{ meeting.meeting_link }}">
                        <button type="button" class="btn btn-dark">Link to Join:
                            <b>{{ meeting.meeting_name }}</b>
                        </button>
                    </a>
                </div>
            </div>
        </li>
    {% endfor %}
{% endblock content %}

