{#{% extends 'base.html' %}#}
{##}
{##}
{#{% block header %}#}
{#    <h2>Meetings To Discuss</h2>#}
{#    <span>#}
{#      <a href="{% url "meeting:new_meeting" %}"><button type="button" class="btn btn-dark">New Meeting</button></a>#}
{#    </span>#}
{##}
{##}
{#{% endblock header %}#}
{##}
{##}
{#{% block content %}#}
{##}
{#    <form action="{% url "meeting:new_meeting" %}">add a new meeting</form>#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{##}
{#    <div class="jumbotron">#}
{#        <div class="d-flex justify-content-center">#}
{#            <a href="{% url "" %}">#}
{#                <button type="button" class="btn btn-dark">add meeting</button>#}
{#            </a>#}
{#        </div>#}
{#    </div>#}
{##}
{##}
{#{% endblock content %}#}
{##}
