{% extends 'base.html' %}


{% block header %}




{% endblock header %}


{% block content %}
    <style type="text/css">
        div.content {
            margin: 0 auto;
            padding-top: 10px;
            padding-bottom: 20px;
            padding-left: 15px;
            background-color: rgba(255, 255, 255, 0.8);
        }

    </style>
    <div class="content">
        <nav class="navbar navbar-light bg-transparent">
            <a class="navbar-brand" href="/">

                <h2>Meeting To Discuss</h2>
            </a>
            <span>
                     {% if user.is_authenticated %}
                         {% if USER.usertype == 'R' %}

                             <a href="{% url "meeting:new_meeting" %}"><button type="button" class="btn btn-dark">Add A New
                            Meeting</button></a>
                         {% endif %}
                     {% endif %}
        </span>
        </nav>

        <div style="text-align: center;">
            <h2>No Meetings Currently :)</h2>
            <h7>{{ date_and_time }}</h7>
        </div>
        <hr/>
        {% if user.is_authenticated %}
            {% if USER.usertype == 'R' %}
                <div class="d-flex justify-content-center">
                    <a href="{% url "meeting:new_meeting" %}">
                        <button type="button" class="btn btn-dark">Welcome to create a meeting for online discussion.
                        </button>
                    </a>
                </div>
            {% endif %}
        {% endif %}
        <hr/>
        <br>
        <div class="jumbotron">
            <div style="text-align: center;">
                <h6>Only users who have logged in are allowed can join discussion meetings. </h6>
                <a href="{% url "Users:login" %}"><h5>Login</h5></a>
            </div>
        </div>


    </div>


{% endblock content %}

