{% extends "base.html" %}
{% load embed_video_tags %}

{% block header %}

{% endblock header %}
{% block content %}
    <style type="text/css">
        div.content {
            margin: 0 auto;
            padding-top: 10px;
            padding-bottom: 20px;
            padding-left: 15px;
            background-color: rgba(255, 255, 255, 0.8);
        }


    </style>
    <div class="content">


        <div class="text">
            <h3 class="display-4" style="margin-left: 10px">Edit a new interview video</h3>
            <h4>
                <a href="{% url "Videos:video_detail" video.id %}" style="margin-left: 10px">{{ video.title }}</a>
            </h4>
            <p class="lead">This is a video edit page, — makes short story video edit. In this page, you will enjoy the
                educational videos.</p>
            <hr class="my-4">
        </div>


        <form action="{% url "Videos:edit_video" video.id %}" method="post" class="form">
            {% csrf_token %}

            <div class="row justify-content-center form-group">
                <div class="p" style="width:70px;height:40px;float:left">Tittle:</div>
                <input type="text" class="form-control" style="width:340px;height:30px;float:right;margin-left: 10px"
                       name='title' placeholder="Username" required value="{{ video.title }}">

            </div>
            <div class="row justify-content-center form-group">
                <div class="p" style="width:70px;height:40px;float:left">Describe:</div>
                <input type="text" class="form-control" style="width:340px;height:90px;float:right;margin-left: 10px"
                       name='desc' placeholder="Add some describe of video" required value="{{ video.desc }}">

            </div>
            <div class="row justify-content-center form-group">
                <div class="p" style="width:70px;height:40px;float:left">Urls:</div>
                <input type="text" class="form-control" style="width:340px;height:30px;float:right;margin-left: 10px"
                       name='url' placeholder="url" value="{{ video.url }}">
            </div>

            <div class="row justify-content-center form-group">
                <div class="p" style="width:70px;height:40px;float:left;margin-right: 10px">File:</div>
                {{ form.file }}{{ video.file }}

            </div>
            <div class="row justify-content-center">
                <p style="margin-left: 30px">Tips: You can choose one in upload url or file</p>
            </div>

            <div class="row form-group justify-content-center">
                <div class="p" style="width:110px;height:40px;float:left;margin-right: 30px">Classification:</div>
                {{ form.classification }}
            </div>
            <div style="text-align:center">
                <button name="submit">SUBMIT</button>

            </div>

        </form>

    </div>
{% endblock content %}