{% extends 'base.html' %}
{% load embed_video_tags %}
{% load static %}

{% block header %}


{% endblock header %}



{% block content %}
    <style type="text/css">
        div.content {
            margin: 0 auto;
            padding-top: 10px;
            padding-bottom: 20px;
            padding-left: 15px;
            background-color: rgba(255, 255, 255, 0.8);
        }

    </style>
    <hr/>
    <div class="content">

    <span style="margin-left: 20px">
     <a class="ui red label" href="{% url "Videos:video_list" %}">
            <button class="btn btn-secondary">ALL</button>
     </a>
     <a href="{% url "Videos:new_video" %}"><button type="button" class="btn btn-dark" style="margin-left: 680px">Add A New Interview Video
                            </button></a>
    </span>
    <hr/>
        <h3 class="text-center mt-2 mb-2" style="margin-left: 20px">{{ video.title }}</h3>
        <div style="text-align: center;">
            <div class="container">
                {% if video.file %}
                    <video class="embed-responsive embed-responsive-16by9" controls="controls">
                        <source src="{{ video.file.url }}" type="video/mp4"/>
                    </video>
                {% else %}
                    {% video video.url '1000x600' %}
                {% endif %}
                <hr/>
                <div class="row">
                    <div class="col-md-9 "><p class="mt-2 mb-2 text-left">Title: {{ video.title }}</p></div>
                    <div class="col-md-1"></div>
                    <div class="col-md 4">
                        <div class="row">
                            {% if video.uploader.id == user.id %}
                                <p style="margin-right: 20px"><a href="{% url "Videos:edit_video" video.id %}">Edit</a>
                                </p>
                                <p><a href="{% url "Videos:video_delete" video.id %}">Delete</a></p>
                            {% endif %}</div>
                    </div>
                </div>
                <hr/>

                <div class="row">
                    <div class="col-lg-2 img">
                        <img src="{{ video.uploader.profile.avatar.url }} " style="width: 60px; height:55x;"
                             class="round_icon">
                    </div>
                    <div class="col-lg-10 text-left">
                        <p>Uploader: {{ video.uploader }}</p>
                        <p>Published on {{ video.uploader }} </p>
                        <p>Research Area: {{ video.classification }}</p>
                        <p>{{ video.desc }}</p>
                    </div>

                </div>

            </div>
        </div>


        <hr/>
        <h5>{{ video_comments.count }} Comments</h5>
        {% if user.is_authenticated %}
            <div>
                <form action="{% url "Videos:video_comment" video.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                    <textarea type="text" class="form-control" id="content" name="content" rows="2"
                              placeholder="Please enter a comment"
                              style="width:990px;height: 100px;margin-left: 20px;margin-right: 20px"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary right " style="margin-left: 900px">SUBMIT</button>
                </form>
            </div>

            <br>
        {% else %}
            <br>
            <h5 class="row justify-content-center">
                Please <a href="{% url 'Users:login' %}"> login </a> to reply.
            </h5>
            <br>
        {% endif %}

        <div>
            {% for comment in video_comments %}
                <hr>
                <p>
                    <strong style="color: black">
                        {{ comment.user }}
                    </strong>
                    <span style="color: green">
                    {{ comment.created_time|date:"Y-m-d H:i:s" }}
                </span>
                </p>
                <pre style="font-family: inherit; font-size: 1em;">{{ comment.content }}</pre>
            {% endfor %}
        </div>
    </div>

{% endblock content %}



