{% extends 'base.html' %}
{% load embed_video_tags %}
{% load static %}

{% block header %}

{% endblock header %}



{% block content %}
     <style type="text/css">
        div.content {
                margin: 0 auto;
                padding-top:10px;
                padding-bottom:20px;
                padding-left:15px;
                background-color:rgba(255,255,255,0.8);
            }


    </style>
    <div class="content">

    <span>
        <a class="ui red label" href="{% url "Videos:video_list" %}">
                <button class="btn btn-secondary">ALL</button>
            </a>
     <a href="{% url "Videos:new_video" %}"><button type="button" class="btn btn-dark" style="margin-left: 680px">Upload A New Video
                            (Meeting or Interview)</button></a>
    </span>
    <hr/>



    <div style="text-align: center;">
        <div class="container">
        <h3 class=" mt-2 mb-2 text-left">{{ video.title }}</h3>
            {% if video.file %}
                <video class="embed-responsive embed-responsive-16by9" controls="controls">
                    <source src="{{ video.file.url }}" type="video/mp4"/>
                </video>
            {% else %}
                {% video video.url '1000x600' %}
            {% endif %}
            <hr/>
        <div class="row">
            <h5 class="text-left mt-2 mb-2">Title:{{ video.title }}</h5>
             {% if video.uploader.id == user.id %}
                        <p style="margin-top: 10px;margin-left: 900px"><a href="{% url "Videos:edit_video" video.id %}">Edit Video</a></p>
            {% endif %}
        </div>
            <div class="row">
                <div class="col-md-1">
                    <img src="{{ video.uploader.profile.avatar.url }}" class=".rounded" style="height: 50px;width: 50px" alt="Cinque Terre" >
{#                    <img src="{{ video.uploader.profile.avatar.url }}" style="max-width: 10%; border-radius: 10%;"#}
{#                 class=" col-md-4 offset-md-4">#}

                </div>
                <div class="col-md-11 text-left">
                    <h6> User:{{ video.uploader }}</h6>
                    <p>Published on {{ video.uploader }} </p>
                    <p>Research Area: {{ video.classification }}</p>
                    <p>{{ video.desc }}</p>
                </div>


            </div>

        </div>
    </div>



    <hr/>
    <h5>{{ video_comments.count }} Comments</h5>
    {% if user.is_authenticated %}
        <div>
            <form action="{% url "Videos:video_comment" video.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea type="text" class="form-control" id="content" name="content" rows="2"
                              placeholder="Please enter a comment"></textarea>
                </div>
                <button type="submit" class="btn btn-primary right ">SUBMIT</button>
            </form>
        </div>

        <br>
    {% else %}
        <br>
        <h5 class="row justify-content-center">
            Please <a href="{% url 'Users:login' %}"> login </a> to reply.
        </h5>
        <br>
    {% endif %}

    <div>
        {% for comment in video_comments %}
            <hr>
            <p>
                <strong style="color: black">
                    {{ comment.user }}
                </strong>
                <span style="color: green">
                    {{ comment.created_time|date:"Y-m-d H:i:s" }}
                </span>
            </p>
            <pre style="font-family: inherit; font-size: 1em;">{{ comment.content }}</pre>
        {% endfor %}
    </div>
    </div>

{% endblock content %}



