{% extends 'base.html' %}
{% load embed_video_tags %}
{% load static %}

{% block header %}
    <span>
     <a href="{% url "Videos:new_video" %}"><button type="button" class="btn btn-dark">Upload A New Interview Video
                            Meeting</button></a>
    </span>
    <hr/>

{% endblock header %}



{% block content %}
    <hr/>

    <div style="text-align: center;">
        <div class="container">
            {% if video.file %}
                <video class="embed-responsive embed-responsive-16by9" controls="controls">
                    <source src="{{ video.file.url }}" type="video/mp4"/>
                </video>
            {% else %}
                {% video video.url '1000x600' %}
            {% endif %}
            <hr/>
            <h3 class="text-center mt-2 mb-2">{{ video.title }}</h3>
            {% if video.uploader.id == user.id %}
                <h5><a href="{% url "Videos:edit_video" video.id %}">Edit</a></h5>
                <h5><a href="{% url "Videos:video_delete" video.id %}">Delete</a></h5>
            {% endif %}
            <h4>{{ video.uploader }}</h4>
            <img src="{{ video.uploader.profile.avatar.url }}" style="max-width: 10%; border-radius: 10%;"
                 class="col-md-4 offset-md-4">

            <h4>Published on {{ video.uploader }} </h4>
            <h5>Research Area: {{ video.classification }}</h5>
            <h4>{{ video.desc }}</h4>
        </div>
    </div>



    <hr/>
    <h5>{{ video_comments.count }} Comments</h5>
    {% if user.is_authenticated %}
        <div>
            <form action="{% url "Videos:video_comment" video.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea type="text" class="form-control" id="content" name="content" rows="2"
                              placeholder="Please enter a comment"></textarea>
                </div>
                <button type="submit" class="btn btn-primary right ">SUBMIT</button>
            </form>
        </div>

        <br>
    {% else %}
        <br>
        <h5 class="row justify-content-center">
            Please <a href="{% url 'Users:login' %}"> login </a> to reply.
        </h5>
        <br>
    {% endif %}

    <div>
        {% for comment in video_comments %}
            <hr>
            <p>
                <strong style="color: black">
                    {{ comment.user }}
                </strong>
                <span style="color: green">
                    {{ comment.created_time|date:"Y-m-d H:i:s" }}
                </span>
            </p>
            <pre style="font-family: inherit; font-size: 1em;">{{ comment.content }}</pre>
        {% endfor %}
    </div>

{% endblock content %}



