{% extends 'base.html' %}

{% block header %}
    <hr/>
     <div style="text-align: center;">
        <a class="navbar-brand" href="{% url 'Story:getStory' story.id %}">
            <h4>{{ story.title_name }} </h4>
        </a>
     </div>

{% endblock header %}


{% block content %}
    <div style="text-align: center;">
        <h3>Book a new interview about the research story： </h3>
        <h7>{{ date_and_time }}</h7>
    </div>
    <hr/>
    <div style="text-align: center;">
        <form action="{% url "interview:new_interview" story.id %}" method="post" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit">Send</button>
        </form>
    </div>

{% endblock content %}

