{% extends 'base.html' %}


{% block header %}

{#    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>#}


{% endblock header %}

{% block content %}

<form method="post" action="{% url 'Story:advancedSearch' %}" class="form">
    {% csrf_token %}
    <div class="container">
        <div class="row">

            <div class="col-lg-4 " >

                <h3> search result sorted by</h3>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-1">
                <button name="submit" class="btn btn-primary" style="float:left">relation</button>

            </div>
            <div class="col-lg-1">
                <button name="submit" class="btn btn-primary" style="float:left">timing</button>

            </div>
            <div class="col-lg-1">
                <button name="submit" class="btn btn-primary" style="float:left">replying</button>

            </div>
            <div class="col-lg-1">
                <button name="submit" class="btn btn-primary" style="float:left">category</button>

            </div>

        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="input-group mb-3">
                    <h4>Advanced Search</h4>

                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Title</span>
                  </div>
                  <input type="text" class="form-control" name="title"  aria-label="Username" aria-describedby="basic-addon1">

                </div>
                <div class="input-group mb-3">

                    <select type="text" class="form-control"
                        name="usertype" placeholder="usertype" required>
                    <option value="AND">AND</option>
                    <option value="OR">OR</option>
                </select>

                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Category:</span>
                  </div>
                    <select type="text" class="form-control"
                        name="category" placeholder="usertype" required>
                    <option value="R">ALL</option>
                    <option value="ComputerScience">Computer Science</option>
                    <option value="Physics">Physics</option>
                    <option value="ElectricalEngineering">Electrical Engineer</option>
                </select>
                </div>

                <div class="input-group mb-3">
                    <select type="text" class="form-control"
                        name="usertype" placeholder="usertype" required>
                    <option value="AND">AND</option>
                    <option value="OR">OR</option>
                    </select>
                </div>


                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Start at:</span>
                  </div>

                  <input type="text" class="form-control" name="title"  aria-label="Username" aria-describedby="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="38" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                      <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    </svg>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">End at:</span>
                  </div>

                  <input type="text" class="form-control" name="title"  aria-label="Username" aria-describedby="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="38" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                      <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    </svg>
                </div>
                <button name="submit" class="btn btn-primary" style="float:left">search</button>
                <button name="submit" class="btn btn-secondary" style="float:left;margin-left:10px;">reset</button>






            </div>

            <div class="col-lg-10">


        </div>
    </div>

    </div>

{#    <input type="hidden" name="next" value="{% url 'MainPage:index' %}"/>#}
</form>

{% endblock content %}