{#{% extends 'research_stories/base.html' %}#}
{##}
{#{% block content %}#}
{#    <div>#}
{#        <h1>Follow your passion for research.</h1>#}
{#        <h2>Immerse yourself in the innovative and interesting research stories.</h2>#}
{#         <h2>Extensive video resources and freely developed discussion environment.</h2>#}
{##}
{#    </div>#}
{##}
{#{% endblock content %}#}

{% extends 'base.html' %}

{% block header %}
    <style type="text/css">
    body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: url("/static/assets/img/homepage2.jpeg")  no-repeat center 0px;
        background-size: cover;
        background-position: center 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;

    }

    div.logo{
        width : 750px;
        height: 100px;
        margin: 50px auto;
        margin-top: 150px;
        margin-bottom: 0px;
        background: url("/static/assets/img/logo.png")  no-repeat center 0px;
    }

    div.search{
            width: 750px;
            margin: 50px auto;
            margin-top: 0px;
            display: flex;
            /*border: 1px solid red;*/
        }
        div.search input{
            float: left;//左浮动
            flex: 4;
            height: 55px;
            outline: none;
            border: 1px solid #909090;
            width: 500px;
            padding-left: 10px;
            font-size: 20px;
            border-radius: 10px 0px 0px 10px;
        }
        .button_s{
            float: right;
            flex: 1;
            height: 55px;
            background-color: #909090;
            color: white;
            border-style: none;
            outline: none;
            font-size: 20px;
            width: 75px;
            border-radius: 0px 10px 10px 0px;
        }
        .button_as{
            float: right;
            flex: 1;
            height: 55px;
            background-color: #909090;
            color: white;
            border-style: none;
            outline: none;
            font-size: 16px;
            margin-left: 20px;
            width: 140px;
            border-radius: 10px;
        }
        div.search button:hover{
            background-color: #4CAF50;
            font-weight: 750;
        }

    </style>
    <body>

    <div class="logo">
    </div>
    <div class="search">
        <input type="text" placeholder="Find stories..." name="keyword" id="input1" value="" oninput="change()"/>
        <a id="search"><button class="button_s">Search</button></a>

        <a href="{% url 'Story:advancedSearch'%}">
            <button class="button_as">Advanced Search</button>
        </a>
    </div>
    <script>
                var c = "ALL";
                var sort_by = "time";
                var title = "_all";
                document.getElementById("search").href = "/story/category=".concat(c ,"_sort_by=", sort_by ,"_title=", title);
                function change() {
                    title = document.getElementById("input1").value;
                    if(title == ''){
                        title = '_all';
                    }
                    document.getElementById("search").href = "/story/category=".concat(c ,"_sort_by=", sort_by ,"_title=", title);
                }
    </script>

{#    <div class="container ">#}
{#    <img src="/static/assets/img/homeimg1.jpeg" class="img-fluid" alt="Responsive image">#}
{#    <div class="page-heading">#}
{#    <h1>Power of Research</h1>#}
{#    <span class="subheading">This is what I do.</span>#}
{#    </div>#}
{#</div>#}
{#    <div class="container">#}
{#    <div class="jumbotron">#}
{#        <h2>Follow your passion for research.</h2>#}
{#        <h3>#}
{#            <a href="{% url "Users:register" %}">Register an account</a> to immerse#}
{#            yourself in the innovative and interesting research stories.#}
{#        </h3>#}
{#        <h3>#}
{#            Extensive video resources and freely developed discussion environment.#}
{#        </h3>#}
{##}
{##}
{#    </div>#}
{#    </div>#}



{% endblock header %}

{% block content %}
<div style="margin-top: 450px">
    <hr class="my-4" >
    </div>
    <div id='footer' class="d-flex align-items-end" style="margin-left: 380px">
        <p style="margin-right: 100px">Follows Us</p>
        <p style="margin-left: 0px">Contact information:</p>
    </div>
    <div class="row">
    <a href="http://www.facebook.com" class="btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-facebook" herf="www.baidu.com" viewBox="0 0 16 16" style="margin-left: 380px; margin-top: -10px">
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
        </svg>
    </a>
        <a href="http://www.youtube.com" class="btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16" style="margin-left: 0px; margin-top: -10px">
          <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
        </svg>
    </a>
    <p style="margin-left: 90px">Mail: contact@researchstory.com</p>
    </div>
    <div class="row">

    </div>

{% endblock content %}


