{#{% extends 'research_stories/base.html' %}#}
{##}
{#{% block content %}#}
{#    <div>#}
{#        <h1>Follow your passion for research.</h1>#}
{#        <h2>Immerse yourself in the innovative and interesting research stories.</h2>#}
{#         <h2>Extensive video resources and freely developed discussion environment.</h2>#}
{##}
{#    </div>#}
{##}
{#{% endblock content %}#}

{% extends 'base.html' %}

{% block header %}
    <div class="jumbotron">
        <h2>Follow your passion for research.</h2>
        <h3>
            <a>Register an account</a> to immerse
            yourself in the innovative and interesting research stories.
        </h3>
        <h3>
            Extensive video resources and freely developed discussion environment.
        </h3>


    </div>
{% endblock header %}

{% block content %}

    <h2>最热</h2>
    <div class="card">
        <!--卡片1热度-->
        <div class="bg-light">
            <div class="row">
                <div class="col-md-3">
                    <div class="img-thumbnail">

                        <img src="static/image/mantis.jpeg" style="width: 280px;height: 360px;">


                        <h3>母螳螂吃公螳螂的秘密</h3>
                        <p>来看看昆虫学家周杰伦是怎样研究的</p>
                        <button class="btn btn-info ">
                            <span class="fa fa-heart"></span> Like
                        </button>
                        <button class="btn btn-info">
                            <span class="fa fa-pencil"></span> Comment
                        </button>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-thumbnail">
                        <img src="static/image/iceberg.jpeg" style="width: 280px;height: 360px;">
                        <h3>海平面为什么会升高</h3>
                        <p>来看看地理学家林俊杰是怎样研究的</p>
                        <button class="btn btn-info ">
                            <span class="fa fa-heart"></span> Like
                        </button>
                        <button class="btn btn-info">
                            <span class="fa fa-pencil"></span> Comment
                        </button>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-thumbnail">
                        <img src="static/image/star.png" style="width: 280px;height: 360px;">
                        <h3>星星为什么是亮的</h3>
                        <p>来看看天文学家王力宏是怎样研究的</p>
                        <button class="btn btn-info ">
                            <span class="fa fa-heart"></span> Like
                        </button>
                        <button class="btn btn-info">
                            <span class="fa fa-pencil"></span> Comment
                        </button>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-thumbnail">
                        <img src="static/image/iceberg.jpeg" style="width: 280px;height: 360px;">
                        <h3>海平面为什么会升高</h3>
                        <p>来看看地理学家林俊杰是怎样研究的</p>
                        <button class="btn btn-info ">
                            <span class="fa fa-heart"></span> Like
                        </button>
                        <button class="btn btn-info">
                            <span class="fa fa-pencil"></span> Comment
                        </button>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--    卡片2生物-->
    <div class="bg-light">
        <h2>生物学</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="img-thumbnail">
                    <img src="static/image/mantis.jpeg" style="width: 280px;height: 360px;">
                    <h3>母螳螂吃公螳螂的秘密</h3>
                    <p>来看看昆虫学家周杰伦是怎样研究的</p>
                    <button class="btn btn-info ">
                        <span class="fa fa-heart"></span> Like
                    </button>
                    <button class="btn btn-info">
                        <span class="fa fa-pencil"></span> Comment
                    </button>

                </div>
            </div>
            <div class="col-md-3">
                <div class="img-thumbnail">
                    <img src="static/image/iceberg.jpeg" style="width: 280px;height: 360px;">
                    <h3>海平面为什么会升高</h3>
                    <p>来看看地理学家林俊杰是怎样研究的</p>
                    <button class="btn btn-info ">
                        <span class="fa fa-heart"></span> Like
                    </button>
                    <button class="btn btn-info">
                        <span class="fa fa-pencil"></span> Comment
                    </button>

                </div>
            </div>
            <div class="col-md-3">
                <div class="img-thumbnail">
                    <img src="static/image/star.png" style="width: 280px;height: 360px;">
                    <h3>星星为什么是亮的</h3>
                    <p>来看看天文学家王力宏是怎样研究的</p>
                    <button class="btn btn-info ">
                        <span class="fa fa-heart"></span> Like
                    </button>
                    <button class="btn btn-info">
                        <span class="fa fa-pencil"></span> Comment
                    </button>

                </div>
            </div>
            <div class="col-md-3">
                <div class="img-thumbnail">
                    <img src="static/image/iceberg.jpeg" style="width: 280px;height: 360px;">
                    <h3>海平面为什么会升高</h3>
                    <p>来看看地理学家林俊杰是怎样研究的</p>
                    <button class="btn btn-info ">
                        <span class="fa fa-heart"></span> Like
                    </button>
                    <button class="btn btn-info">
                        <span class="fa fa-pencil"></span> Comment
                    </button>

                </div>
            </div>
        </div>
        <!--卡片3天文-->
        <div class="bg-light">
            <h2>天文学</h2>
            <div class="row margin-left: -15px;margin-right: -15px;">
                <div class="card col-3" style="width: 18rem;">
                    <img src="static/image/iceberg.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Why does the sea level rise</h5>
                        <p class="card-text">The Reef is in grave danger due to climate change. Read more and get
                            involved...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Researcher: Yi Liu</li>
                    </ul>
                    <div class="card-body">
                        <button class="btn btn-info">
                            <span class="fa fa-pencil"></span> Card link
                        </button>
                        <button class="btn btn-info ">
                            <span class="fa fa-heart"></span> Like
                        </button>
                    </div>
                </div>

                <div class="card col-3" style="width: 18rem;">
                    <img src="static/image/iceberg.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Why does the sea level rise</h5>
                        <p class="card-text">The Reef is in grave danger due to climate change. Read more and get
                            involved...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Researcher: Yi Liu</li>
                    </ul>
                    <div class="card-body">
                        <button class="btn btn-info">
                            <span class="fa fa-pencil"></span> Card link
                        </button>
                        <button class="btn btn-info ">
                            <span class="fa fa-heart"></span> Like
                        </button>
                    </div>
                </div>
                <div class="card col-3" style="width: 18rem;">
                    <img src="static/image/iceberg.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Why does the sea level rise</h5>
                        <p class="card-text">The Reef is in grave danger due to climate change. Read more and get
                            involved...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Researcher: Yi Liu</li>
                    </ul>
                    <div class="card-body">
                        <button class="btn btn-info">
                            <span class="fa fa-pencil"></span> Card link
                        </button>
                        <button class="btn btn-info ">
                            <span class="fa fa-heart"></span> Like
                        </button>
                    </div>
                </div>
                <div class="card col-3" style="width: 18rem;">
                    <img src="static/image/iceberg.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Why does the sea level rise</h5>
                        <p class="card-text">The Reef is in grave danger due to climate change. Read more and get
                            involved...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Researcher: Yi Liu</li>
                    </ul>
                    <div class="card-body">
                        <button class="btn btn-info">
                            <span class="fa fa-pencil"></span> Card link
                        </button>
                        <button class="btn btn-info ">
                            <span class="fa fa-heart"></span> Like
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock content %}

