{% extends "base.html" %}

{% load static %}

{% block content %}
    <style type="text/css">

        div.title {
            width: 100%;
            background: white;
            margin: 0 auto;
            text-align: center;
            padding-top: 40px;
        }


        div.info {
            height: 40px;
            width: 100%;
            background: white;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 40px;
        }

        div.article {
            width: 100%;
            background: #f1f1f1;
            margin: 0 auto;
            padding: 20px;
        }

        div.link {
            width: 100%;
            background: white;
            margin: 0 auto;
            padding: 10px;
        }

        div.video {
            height: 315px;
            width: 560px;
            background: #f1f1f1;
            margin: 20px auto;
        }


        div.intro {
            background: #fedcbd;
            width: 100%;
            padding: 20px;
            margin-bottom: 15px;
        }

        div.normal {
            width: 100%;
            padding: 20px;
        }

        h1 {
            color: black;
            font-size: 32px;
        }

        h2 {
            color: black;
            font-size: 24px;
        }

        p1 {
            color: black;
            font-size: 16px;
            white-space: pre-wrap;
        }

        p1b {
            background: #f1f1f1;
            color: black;
            font-size: 16px;
            white-space: pre-wrap;
        }

        p3 {
            color: black;
            font-size: 14px;
            white-space: pre-wrap;
        }

        p2 {
            color: black;
            font-size: 20px;
        }

        p4 {
            color: black;
            font-size: 12px;
            white-space: pre-wrap;
        }

        .column.left {
            padding-left: 10px;
            padding-right: 10px;
            width: 60%;
            box-sizing: border-box;
        }

        .column.right {
            padding-left: 10px;
            padding-right: 10px;
            width: 40%;
            box-sizing: border-box;
            height: 800px;
            overflow: visible;
        }

        @media screen and (max-width: 1000px) {
            .column.left, .column.right {
                width: 100%;
                margin: 0 auto;
            }
        }

        div.footer {
            height: 160px;
            width: 100%;
            background: #f1f1f1;
            text-align: center;
            padding-top: 80px;
            margin-top: 10px;
        }

        div.pic {
            width: 85%;
            margin: 0px auto;
            margin-bottom: 30px;
        }

        img.type1 {
            width: 100%;
        }

        div.comment {
            border-style: solid;
            background: white;
            width: 100%;
            padding: 15px;
            border-color: #f1f1f1;
        }

        div.all_comment {
            width: 100%;
        }

        .button1 {
            background-color: #ff8800;
            border: none;
            color: white;
            padding: 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
        }

        .button2 {
            background-color: #008CBA;
            border: none;
            color: white;
            padding: 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
        }
    </style>

    <script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'prism/prism.css' %}">

    <div>

        <div class="normal">
            <button class="button1">Category</button>
            <p3> {{ category }}</p3>
            <button class="button2">Tags</button>
            <p3> {{tags}}</p3>
        </div>
        <div class="title">
            <h1>{{ title_name }}</h1>
        </div>

        <div class="info">
            <p1>By {{ author }}</p1><p1>    |   {{ created_time }}</p1>
        </div>

        <div class="row">
            <div class="column left">
                <div class="pic">
                    <img class="type1" src="./media/{{ img }}">
                </div>

                <div class="article">
                    <p1>{{ text }}</p1>
                </div>

                <div class="video">
                    {% if video %}
                        <iframe width="560" height="315"
                                src={{ video }}
                                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    {% else %}
                        <li>No video.</li>
                    {% endif %}
                </div>

                <div class="link">
                    <p1>Paper Link：</p1>
                    <a href="{{paper_link}}">
                        <p1> {{ paper_link }} </p1>
                    </a>
                </div>


                <div class="comment">
                    <div class="normal">
                        <h4>COMMENT AREA</h4>
                        <hr/>
                    </div>

                    {% if user.is_authenticated %}
                        <div>
                            <form action="{% url "comment:post_comment" story.id %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="normal">
                                        <p1>Post a Comment:</p1>
                                    </div>
                                    <textarea type="text" class="form-control" id="body" name="body" rows="4"
                                              placeholder="Please enter a comment"></textarea>
                                </div>
                                <!-- 提交按钮 -->
                                <button type="submit" class="btn btn-primary ">Post</button>
                            </form>
                        </div>

                        <br>
                    {% else %}
                        <br>
                        <h5 class="row justify-content-center">
                            Please <a href="{% url 'Users:login' %}"> login </a> to reply.
                        </h5>
                        <br>
                    {% endif %}

                    <div class="all_comment">
                        <!-- 显示评论 -->

                        {% load mptt_tags %}
                        <h4>Total comments: {{ comments.count }}</h4>
                        <div class="row">
                            {% recursetree comments %}
                                {% with comment=node %}
                                    <div class="{% if comment.reply_to %} offset-1 col-11 {% else %} col-12 {% endif %}">
                                        <hr/>

                                        <p>
                                            <strong style="color: pink">
                                                {{ comment.user }}
                                            </strong>


                                            <!-- 显示被回复人 -->
                                            {% if comment.reply_to %}
                                                <i class="far fa-arrow-alt-circle-right"
                                                   style="color: cornflowerblue;"
                                                ></i>
                                                <strong style="color: pink">
                                                    <span style="color: black"
                                                          class="arrow-outer">  @</span> {{ comment.reply_to }}
                                                </strong>
                                            {% endif %}

                                        </p>
                                        <div>{{ comment.body|safe }}</div>

                                        <div>
                        <span style="color: gray">
                        {{ comment.created|date:"Y-m-d H:i:s" }}
                        </span>


                                            <!-- 加载 modal 的按钮 -->
                                            {% if user.is_authenticated %}
                                                <button type="button"
                                                        class="btn btn-light btn-sm text-muted"
                                                        onclick="load_modal({{ story.id }}, {{ comment.id }})">Reply
                                                </button>
                                            {% else %}
                                                <a class="btn btn-light btn-sm text-muted"
                                                   href="{% url 'Users:login' %}">
                                                    Reply
                                                </a>
                                            {% endif %}
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade"
                                             id="comment_{{ comment.id }}"
                                             tabindex="-1"
                                             role="dialog"
                                             aria-labelledby="CommentModalCenter"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                <div class="modal-content" style="height: 480px">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalCenterTitle">Replying
                                                            to {{ comment.user }}：</h5>
                                                    </div>
                                                    <div class="modal-body" id="modal_body_{{ comment.id }}"></div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if not comment.is_leaf_node %}
                                            <div class="children">
                                                {{ children }}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endwith %}
                            {% endrecursetree %}
                        </div>


                        <!--，唤醒二级回复的 modal -->
                        <script>
                            // 加载 modal
                            function load_modal(story_id, comment_id) {
                                let modal_body = '#modal_body_' + comment_id;
                                let modal_id = '#comment_' + comment_id;

                                // 加载编辑器
                                if ($(modal_body).children().length === 0) {
                                    let content = '<iframe src="/comment/post_comment/' + story_id + '/' + comment_id + '" frameborder="0" style="width: 100%; height: 100%;"></iframe>';
                                    $(modal_body).append(content);
                                }
                                ;
                                $(modal_id).modal('show');
                            }
                        </script>
                    </div>
                </div>
            </div>

            <div class="column right">
                <div class="intro">
                    <h2>Researcher Introduction</h2>
                    <p3>{{author_intro}}
                    </p3>
                </div>
                <div class="intro">
                    <h2>Field Background</h2>
                    <p4>{{background}}
                    </p4>
                </div>

                <hr/>
                <div>
                    {% if current_intervew == None %}
                        <div style="text-align: center;">
                            <h4>No interview Today :)</h4>
                            <h7>{{ data_and_time }}</h7>
                        </div>
                        <hr/>
                        <div class="jumbotron">
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'interview:new_interview' story.id %}">
                                    <button type="button" class="btn btn-dark">Welcome to interview by appointment with
                                        Researcher.
                                    </button>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div style="text-align: center;">
                            <h3>Current interview:</h3>
                            <h7>{{ data_and_time }}</h7>
                        </div>
                        <li>
                            <div class="jumbotron">
                                <div style="text-align: center;">
                                    <h4><i><b>{{ current_intervew.interview_name }}</b></i></h4>
                                    Related to Research Story:<h6>"{{ current_intervew.related_story_name }}"</h6> Post
                                    by XXXX.
                                    <h4>Start Time: {{ current_intervew.start_time }}</h4>
                                    <h4>End Time: {{ current_intervew.end_time }}</h4>
                                    <h6>Organizer: {{ current_intervew.organizer }}</h6>
                                </div>
                                <div style="text-align: center;">
                                    <a href="{{ current_intervew.interview_link }}">
                                        <button type="button" class="btn btn-dark">Link to Join:
                                            <b>{{ current_intervew.interview_name }}</b>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <div class="footer">
        <p1>Research Stories!</p1>
    </div>

{% endblock content %}

