{% extends 'base.html' %}
{% load static %}

{% block header %}

    <script type="text/javascript" src="{% static 'ckeditor/ckeditor.js' %}"></script>


{% endblock header %}


{% block content %}
    <form method="post" action="{% url 'Story:upload' %}" class="form">
        {% csrf_token %}
<!--        {#   <form method="post" action="{% url 'Story:upload' %}" class="form">#}-->
<!--        {##}-->
<!--        {#    {% csrf_token %}#}-->
        <!-- 名字，类别-->
        <style type="text/css">
        div.content {
                margin: 0 auto;
                padding-top:10px;
                padding-bottom:20px;
                padding-left:15px;
                background-color:rgba(255,255,255,0.8);
            }

    </style>
    <div class="content" >
        <div class="container">
            <br>
            <br>
            <br>
            <div class="form-group row justify-content-center" >
                <label class="control-label"></label>
                <h5>Category</h5>

                <div class="input-group-prepend " >
{#                    <span class="input-group-text" id="basic-addon1">Category:</span>#}
                    <select type="text" class="form-control" name="category" style="width:500px; margin-left:20px" required >
                        <option value="ComputerScience">ComputerScience</option>
                        <option value="Physics">Physics</option>
                        <option value="ElectricalEngineering">Electrical Engineer</option>
                    </select>


                </div>
            </div>
{#            <div class="p" style="width:150px;height:40px;float:left;">User Type:</div>#}
            <div class="form-group row justify-content-center">
{#                <span class="input-group-text" id="basic-addon1" style="width:100px;height:38px">Title:</span>#}
{#                <label class="control-label"></label>#}
                <h5>Title</h5>
                <input style="width:500px ; margin-left:70px" class="form-control" name="title" type="text" placeholder="Please Enter Your Title"/>
            </div>

            <div class="form-group row justify-content-center">
{#                <label class="control-label"></label>#}
                <h5>Tags</h5>
                <input style="width:500px ; margin-left:63px" class="form-control" name="tags" type="text" placeholder="Please Enter tags"/>
            </div>


            <div class="form-group row justify-content-center" >
{#                <label class="control-label"></label>#}
                <h5>VideoUrl</h5>

                <input style="width:500px ; margin-left:30px" class="form-control" name="videoUrl" type="text" placeholder="Please Enter Your VideolUrl"/>
            </div>
            <div class="form-group row justify-content-center" >
{#                <label class="control-label"></label>#}
                <h5>PaperLink</h5>
                <input style="width:500px ; margin-left:15px" class="form-control" name="paperLink" type="text" placeholder="Please Enter Your PaperLink"/>
            </div>


             <div class="form-group row justify-content-center" >
{#                <label class="control-label"></label>#}
                <h5>Author</h5>
                <input style="width:500px ; margin-left:47px" class="form-control" name="author" type="text" placeholder="Please Enter author"/>
            </div>

            <div class="form-group row justify-content-center" >
            <h5>Author Intro</h5>
{#            <label class="control-label"></label>#}
                <textarea style="max-width:500px" class="form-control" name="author_intro" aria-label="With textarea"  placeholder="Please Enter Your Author Intro"></textarea>
            </div>



            <div class="form-group row justify-content-center" >
            <h5>Background</h5>
{#            <label class="control-label"></label>#}
                <textarea style="max-width:500px" class="form-control" name="background" aria-label="With textarea" rows="3" placeholder="Please Enter Your story background"></textarea>
            </div>




            <div class="form-group row justify-content-center" >
                <h5>TextContent</h5>
{#                <label class="control-label"></label>#}
{#                <div class="input-group input-group-lg">#}
                    <textarea class="form-control" id='text' name="text" aria-label="With textarea" rows="5"
                              placeholder="Please Enter Your Text"></textarea>
                    <script type="text/javascript">
                        CKEDITOR.replace('text',{ toolbar:'Basic', height:370, width:500 });
                    </script>

{#                </div>#}
            </div>

            <div class="form-group row justify-content-center">
            <h5>Image</h5>
{#            <div class="input-group mb-3">#}
{#          <div class="input-group-prepend">#}
{#          </div>#}
            <div class="custom-file" style="width:500px ; margin-left:55px">
            <input type="file" class="custom-file-input" name="img">
            <label class="custom-file-label" >Upload Image</label>
          </div>
        </div>
        </div>


            <button name="submit" class="btn btn-primary btn-lg btn-block"  >Submit</button>


            </div>
    </div>
    </form>
{% endblock content %}




{#    {{ form.as_p }}#}

{#    {% buttons %}#}
{#    <button name="submit" class="btn btn-primary">Upload</button>#}
{#    {% endbuttons %}#}

{#    <input type="hidden" name="next" value="{% url 'MainPage:index' %}"/>#}


