{% extends 'base.html' %}
{% load static %}

{% block header %}

    <script type="text/javascript" src="{% static 'ckeditor/ckeditor.js' %}"></script>


{% endblock header %}


{% block content %}
    <form method="post" action="{% url 'Story:upload' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <style type="text/css">
            div.content {
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom: 20px;
                padding-left: 15px;
                background-color: rgba(255, 255, 255, 0.8);
            }

        </style>
        <style type="text/css">
            label.xrequired:before {
                content: '* ';
                color: red;
            }
        </style>


        <div class="content">
            <div class="container">
                <br>
                <br>
                <br>
                <div class="form-group row justify-content-center">

                    <label class="xrequired">Category</label>

                    <div class="input-group-prepend ">

                        <select type="text" class="form-control" name="category" style="width:500px; margin-left:20px"
                                required>
                            <option value="ComputerScience">ComputerScience</option>
                            <option value="Engineering">Engineering</option>
                            <option value="Law">Law</option>
                            <option value="Medicine">Medicine</option>
                            <option value="Science">Science</option>
                            <option value="Art">Art</option>
                            <option value="Business">Business</option>
                        </select>


                    </div>
                </div>

                <div class="form-group row justify-content-center">

                    <label class="xrequired">Title</label>
                    <input style="width:500px ; margin-left:55px" class="form-control" name="title" type="text"
                           placeholder="Please Enter Your Title"/>
                </div>

                <div class="form-group row justify-content-center">

                    <label>Tags</label>
                    <input style="width:500px ; margin-left:63px" class="form-control" name="tags" type="text"
                           placeholder="Please Enter tags"/>
                </div>


                <div class="form-group row justify-content-center">

                    <label>VideoUrl</label>

                    <input style="width:500px ; margin-left:35px" class="form-control" name="videoUrl" type="text"
                           placeholder="Please Enter Your VideolUrl"/>
                </div>
                <div class="form-group row justify-content-center">

                    <label>PaperLink</label>
                    <input style="width:500px ; margin-left:20px" class="form-control" name="paperLink" type="text"
                           placeholder="Please Enter Your PaperLink"/>
                </div>


                <div class="form-group row justify-content-center">

                    <label>Author</label>
                    <input style="width:500px ; margin-left:47px" class="form-control" name="author" type="text"
                           placeholder="Please Enter author"/>
                </div>

                <div class="form-group row justify-content-center">
                    <label>Author Intro</label>

                    <textarea style="max-width:500px;margin-left:10px" class="form-control" name="author_intro"
                              aria-label="With textarea" placeholder="Please Enter Your Author Intro"></textarea>
                </div>


                <div class="form-group row justify-content-center">
                    <label class="xrequired">Background</label>

                    <textarea style="max-width:500px" class="form-control" name="background" aria-label="With textarea"
                              rows="3" placeholder="Please Enter Your story background"></textarea>
                </div>


                <div class="form-group row justify-content-center">
                    <label class="xrequired">TextContent</label>

                    <textarea class="form-control" id='text' name="text" aria-label="With textarea" rows="5"
                              placeholder="Please Enter Your Text"></textarea>
                    <script type="text/javascript">
                        CKEDITOR.replace('text', {toolbar: 'Basic', height: 370, width: 500});
                    </script>


                </div>


                <div class="form-group row justify-content-center">
                    <label>Image</label>

                    <div class="custom-file" style="width:500px ; margin-left:55px">
                        {{ form.img }}

                    </div>
                </div>
            </div>


            <button name="submit" class="btn btn-primary btn-lg btn-block">Submit</button>


        </div>
        </div>
    </form>
{% endblock content %}







