{% extends "base.html" %}
{% load static %}
{% block header %}

{% endblock header %}

{% block content %}
    <style type="text/css">
        div.content {
            margin: 0 auto;
            padding-top: 10px;
            padding-bottom: 20px;
            padding-left: 15px;
            background-color: rgba(255, 255, 255, 0.8);
        }

    </style>
    <div class="content">
        <div style="text-align: center;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <br>
                        <div class="col-md-4 offset-md-4">Username: {{ user.username }}</div>
                        <br>
                        {% if profile.avatar %}

                            <img src="{{ profile.avatar.url }}" style="max-width: 18%; border-radius: 18%;"
                                 class="col-md-4 ">
                        {% else %}
                            <div class="col-md-4 offset-md-4">No avatar</div>
                        {% endif %}

                        <form action="{% url 'Users:edit' user.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <br>
                            <br>
                            <div class="form-row">
                                <div class="form-group col-md-4 offset-md-2">
                                    <label>First Name</label>
                                    <input id="first_name" name="first_name" type="text" class="form-control"
                                           value="{{ profile.first_name }}" placeholder="First Name">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Last Name</label>
                                    <input id="last_name" name="last_name" type="text" value="{{ profile.last_name }}"
                                           class="form-control" placeholder="Last Name">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-4 offset-md-2">
                                    <label>Gender</label>
                                    <div class="input-group-prepend ">
                                        <select type="text" class="form-control" name="gender">
                                            <option>{{ profile.gender }}</option>
                                            <option value="S">Secret</option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Age</label>
                                    <input id="age" name="age" value="{{ profile.age }}" class="form-control"
                                           placeholder="Age">
                                </div>
                            </div>
                            <div class="form-group col-md-8 offset-md-2">
                                <label>Bio</label>
                                <textarea class="form-control" id="bio" name="bio" aria-label="With textarea" rows="4"
                                          placeholder="Please Enter Your bio">{{ profile.bio }}</textarea>
                            </div>

                            <div class="form-group col-md-8 offset-md-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="form-control-file" name="avatar" id="avatar">
                                        <label class="custom-file-label" for="avatar">Upload Avatar</label>
                                    </div>
                                </div>
                            </div>

                            <button name="submit" type="submit" class="btn btn-primary btn-block"
                                    style="width: 680px; margin-left: 190px">Save
                            </button>

                        </form>


                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock content %}