{#{% extends 'MainPage/base1.html' %}#}

{#{% block content %}#}
{#    {% if form.errors %}#}
{##}
{#        <p>Your username and password didn't match. Please try again. </p>#}
{#    {% endif %}#}
{##}
{#    <form method="post" action="{% url 'Users:login' %}">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{##}
{#        <button name="submit">Login</button>#}
{##}
{##}
{#        <input type="hidden" name="next" value="{% url 'MainPage:index' %}"/>#}
{##}
{##}
{#    </form>#}
{##}
{#{% endblock content %}#}

{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}


{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again. </p>
    {% endif %}


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
{#                <h3 class="heading-section">Login</h3>#}
            </div>
        </div>
        <div class="row justify-content-center form-group">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">

                    <h3 class="mb-4 text-center">Have an account?</h3>
                    <form method="post" class="signin-form" action="{% url 'Users:login' %}">
                        <div class="form-group">
                            {% csrf_token %}
                            <input type="text" class="form-control" name="username" placeholder="Username" required>
                            {#                        {{ form.username|as_crispy_field }}#}
                            <input type="hidden" name="next" value="{% url 'MainPage:index' %}"/>
                        </div>
                        <div class="form-group">
                            <input id="password-field" type="password" class="form-control" name="password"
                                   placeholder="Password" required>
                            {#	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>#}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="w-50">
                                <label class="checkbox-wrap checkbox-primary">Remember Me
                                    <input type="checkbox" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="w-50 text-md-right">
                                <a href="{% url 'password_reset_recover' %}">Forgot Password</a>
                            </div>
                        </div>
                    </form>

                     {% get_providers as socialaccount_providers %}
                        {% if socialaccount_providers %}
                        <p>
                            {% blocktrans with site.name as site_name %}{% endblocktrans %}
                        </p>
                        <div class="socialaccount_ballot">
                            <h6 class="mb-2 mt-4"> sign in through a third party.：</h6>
                            <ul class="socialaccount_providers">
                              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                            </ul>
                        </div>
                        {% include "socialaccount/snippets/login_extra.html" %}
                        {% endif %}


                </div>
            </div>
        </div>
    </div>
{% endblock content %}