{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again. </p>
    {% endif %}
    <style type="text/css">
        div.content {
                margin: 0 auto;
                padding-top:10px;
                padding-bottom:20px;
                padding-left:15px;
                background-color:rgba(255,255,255,0.8);
            }

    </style>

    <div class="content">
        <h2>hahahaha</h2>


         <div class="all_content">
                        <!-- 显示评论 -->
                        {% load mptt_tags %}
                        <h4>Title: {{ forum.title }}</h4>
                        <div class="row">
                            {{ forum.text }}



                        </div>


         </div>
    </div>
{% endblock content %}